.user-list-container {
    width: 400px;
    border: 1px solid lightgrey;
    padding: 30px;
    margin: 10px;
    border-radius: 10px; 

}

.list-container{
    display: flex;
    flex-direction: row;
}
